body{
    background-color: #581845;
    margin: 0;
    padding: 0;
}
.main{
    background-color: #900C3F;
    display: grid;
    width: 90vw;
    height: 90vh;
    margin: auto;
    border-radius: 4px;
    padding: 10px;

}

#clockFace{
    background-color: black;
    border: solid 10px #c70039;
    color: #ff5733;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 1fr;
}

h1{
    color: #ff5733;
    text-align: center;
    font-family: "roboto mono";
    font-size: 5em;
    letter-spacing: 6px;
    align-self: center;
    font-weight: 1000;
    margin: 0;
}

#hours{
    grid-column: 1/2;
}


#minutes{
    grid-column: 3/4;
}

#hours, #minutes, .colon{
    color: #ff5733;
    height: 100%;
    align-self: center;
    justify-self: center;
    font-size: 12em;
    display: flex;
    align-items: center;
    font-family: "roboto mono";
}

.colon{
    color: #ff5733;
    height: 100%;
    justify-self: center;
    font-size: 10em;
}