body{
    background-color: #581845
}
.main{
    background-color: #900C3F;
    padding: 10px;
    display: grid;
    width: 90vw;
    height: 90vh;
    margin: auto;
    grid-template-rows: 3fr 2fr;
    border-radius: 4px;

}

#clockFace{
    background-color: black;
    border: solid 10px #c70039;
    color: #ff5733;
    border-radius: 4px;
}

h1{
    color: #ff5733;
    text-align: center;
    font-family: helvetica;
    font-size: 5em;
    letter-spacing: 6px;
    align-self: center;
    font-weight: 1000;
}